<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="icon.png" type="image/x-icon">
  <link rel="stylesheet" href="index.css">

</head>
<body>
  <%- include('partials/header.ejs') %>
<div class="hero">
  <h1>Enciclopedia de vehículos</h1>
</div>
<div class="content-wrapper">
  <h1>Sobre la enciclopedia</h1>
<p>La enciclopedia de vehículos es una enciclopedia que busca recopilar información y datos interesantes de algunos de los modelos más emblemáticos que han surgido en el mundo del automóvil, el proyecto nace por el gusto hacía el mundo del automóvil, es una pequeña recopilación que llevé a cabo a lo largo de un tiempo, disfrutando cada momento de dos de las cosas que más me gusta hacer en la vida, practicar mi oficio y disfrutar del mundo automotor. En la enciclopedia de vehículos muestro algunas de las marcas de autos más famosas a nivel mundial, así como muchos de los autos que las conforman. Espero que todos los lectores de esta enciclopedia puedan disfrutar de este proyecto tanto como lo disfruté yo.</p>

  <h2>Introducción</h2>
  <p>La historia del automóvil, uno de los inventos más característicos del siglo XX, empieza con los vehículos auto-propulsados por vapor del siglo XVIII, seguida de las innovaciones tecnológicas aparecidas en el siglo XIX que propiciaron el nacimiento de un automóvil funcional y la revolución de la industria automotriz. Desde el primer vehículo de vapor creado por Nicolas Cugnot, demasiado pesado, ruidoso y temible, hasta el nacimiento del ya considerado automóvil moderno Mercedes y la cadena de montaje de Ford, en el siglo XIX fuen una época muy prolífica en la que los grandes sistemas de propulsión: vapor, electricidad y gasolina, se desarrollaron paralelamente hasta que el petróleo se impuso totalmente. Poco después, otros pioneros como Gottlieb Daimler y Wilhelm Maybach presentaron sus modelos. El primer viaje largo en un automóvil lo realizó Bertha Benz en 1889 al ir de Mannheim a Pforzheim, ciudades separadas entre sí por unos 105 km. Cabe destacar que fue un hito en la automovilística antigua, dado que un automóvil de esta época tenía como velocidad máxima unos 20 km/h, gastaba muchísimo más combustible de lo que gasta ahora un vehículo a esa misma velocidad y la gasolina se compraba en farmacias, donde no estaba disponible en grandes cantidades.</p>
  
  <p>Actualmente, los combustibles más utilizados para accionar los motores de los automóviles son algunos productos derivados del petróleo y del gas natural, como la gasolina, el diésel, gases licuados del petróleo (butano y propano), gas natural vehicular o gas natural comprimido. Fuera del ámbito de los turismos se utilizan otros combustibles para el accionamiento de vehículos de otros medios de transporte, como el fueloil en algunos barcos o el queroseno en las turbinas del transporte aéreo.En algunos países también se utilizan biocombustibles como el bioetanol o el biodiésel. Los principales productores de bioetanol son Estados Unidos y Brasil, seguidos de lejos por la Unión Europea, China y Canadá generalmente a partir de la fermentación del azúcar de productos agrícolas como maíz, caña de azúcar, remolacha o cereales como trigo o cebada. El biodiésel es producido principalmente por la Unión Europea y los Estados Unidos, en su mayor parte a partir de la esterificación y transesterificación de aceites de plantas oleaginosas, usados o sin usar, como el girasol, la palma o la soja.</p>
  
  <p>Existe debate sobre la viabilidad energética de estos combustibles y cuestionamientos por el efecto que tienen al competir con la disponibilidad de tierras para el cultivo de alimentos. Sin embargo, tanto el impacto sobre el ambiente como el efecto sobre el precio y disponibilidad de los alimentos dependen del tipo de insumo que se utilice para producir el biocombustible. En el caso del bioetanol, cuando es producido a partir de maíz se considera que sus impactos son significativos y su eficiencia energética es menor, mientras que la producción de etanol en Brasil a partir de caña de azúcar es considerada sostenible. No obstante también existe biodiésel obtenido de aceites vegetales usados y desechados ya para alimentación que no tendrían impacto negativo alguno en el medio ambiente.</p>

  <h1 class="titulo-marcas">Marcas de Automóviles</h1>

  <section id="seleccionar-marca">

  </section>

  <div class="tabla-marcas">
    <div class="Acura">
      <img src=<%= logo %> alt="Marca Acura">
    </div>

    <div class="Apollo">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo2">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo3">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo4">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>

    <div class="Apollo5">
      <img src="/data/imagenes/apollo_logo.png" alt="Apollo logo">
    </div>


  </div>
</div>
<%- include('partials/footer.ejs') %>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src="index.js"></script>

</body>
</html>