<footer class="footer-distributed">
    <div class="footer-right">
        <a href="https://www.facebook.com/santiago.camachovalbuena/"><img class="logo-footer" src="facebook.png" alt="facebook-logo"></a>
        <a href="https://twitter.com/Santiag10096175"><img class="logo-footer" src="twitter.png" alt="twitter-logo"></a>
        <a href="https://www.linkedin.com/in/santiago-camacho-valbuena-1197641ba/"><img class="logo-footer" src="linkedin.png" alt="linkedin-logo"></a>
        <a href="https://www.youtube.com/@santiagocamachovalbuena2461/featured"><img class="logo-footer" src="youtube.png" alt="youtube-logo"></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
		<a class="link-1" href="/">Ir al inicio</a>
        <a href="creador.ejs">Conoce al creador</a>
		</p>
        <p>SanSoft &copy; 2023</p>
	</div>
</footer>