<nav class="header">
    <div>
     <a href="/"><img src="brand_logo.png" alt="logo" class="logo-p"></a>
    </div>
    <div class="nav-bg"></div>
  <ul>
    <li><a href="creador.ejs">Conoce al creador...</a></li>
  </ul>
</nav>